{deps, [
    {erlydtl,  ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch,"master"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch,"master"}}},
    {markdown, ".*", {git, "https://github.com/erlware/erlmarkdown.git", {ref,"22298f62b973d1aa1c344c1b23a22ce66fad1659"}}}
]}.

{relx, [
    {release, {blogerl, "0.9.1"}, [mochiweb, compiler, erlydtl, markdown, blogerl]},
    {dev_mode, true},
    {include_erts, false},
    {vm_args, "./config/vm.args"}
]}.
