{require_otp_vsn, "R14|R15"}.
{lib_dirs, ["apps","deps"]}.
{deps_dir, "deps"}.
{deps, [{erlydtl,  ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
        {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
        {markdown, ".*", {git, "git://github.com/hypernumbers/erlmarkdown.git", "master"}}]}.
